<h1 class="formName text-center">Editing Product</h1>

<%= render 'form', product: @product %>

<div class="backButtom">
	<%= link_to 'Show', @product, class: "showButton" %> |
	<%= link_to 'Back', products_path, class: "backButton"  %>
</div>
